@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to backstage Scaffolding</h1>
    <h3> Acme Landing is WoW </h3>    
    <h4> Acme Landing is Amazing </h4>
</div>
